/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/avenir.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/avenir.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
